/* Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    line-height: 1.5;

    background-image: url(../img/wall-pattern-wallpaper-dirty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
  } 

  img {
    max-width: 100%;
    display: block;
  }

/* Remove styles from lists with a class */
ul[class],
ol[class],
li
{
  list-style: none;
}
/* TESTING */
.border {
  border: solid red 1px;
}

/* Container wraps entire page */
.container {
    max-width: 1200px;
    margin: auto;
}


.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    border-bottom: 1px solid black;

    padding: 4rem 0;
}

.header-title {
    font-family: 'anton' ,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 400;
    line-height: 1.2;

}


/* Page Title */
.page-title {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 1rem 0;
    padding: 1rem 0;

}

.page-title h2 {
    font-family: 'anton' ,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;

}



/* Recipe Categories */

.recipes-cat {

    display: grid;
    grid-template-columns: 1fr; 
    place-items: center;

    margin: 1rem 0;
    padding: 1rem 0;

}

.cat-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    column-gap: 2rem;
    row-gap: 2rem;

    align-self: center;
    width: 80%;

}

.cat-list-item {
    
    border: 1px solid black;
    padding: 1rem 2rem;
    text-align: center;


    font-family: monospace;
    font-weight: 400!important;
    font-size: 1.15rem;
    font-style: normal;
    letter-spacing: .5px;
    text-transform: uppercase;

    transition: ease-in-out 0.15s;
}

.cat-list-item:hover {
    background-color: black;
    color: white;


}

/* END Recipe Categories */


/* Recipes */
.recipes {
    display: grid;
    grid-template-columns: 1fr; 
    place-items: center;

    margin: 1rem 0;
    padding: 1rem 0;


}

.recipes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    column-gap: 2rem;
    row-gap: 2rem;

    align-self: center;

    width: 90%;

}

.recipe-item {

}

.recipe-item img:hover {
    opacity: 0.75;
}

.recipe-item-tags {
    margin-top: 1rem;

}
.recipe-item-tags h4 {

    font-family: 'anton' ,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2;

    color: #ECB94E;
    
}

.recipe-item-name {
}

.recipe-item-name h3 {
    font-family: 'anton' ,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.2;
}



/* END Recipes */


/* Recipe */
.recipe-section {

    margin: 2rem 0;

}

.recipe-heading {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    padding: 1rem 0;

}

.recipe-heading-tags {

}
.recipe-heading-tags h3 {

    font-family: 'anton' ,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.2;

    color: #ECB94E;
    
}

.recipe-heading-title {

}
.recipe-heading-title h2 {
    font-family: 'anton' ,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.2;

}

.recipe-info {
    width: 100%;

    padding: 1rem 0;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.recipe-info-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 1rem;

}

.recipe-info-list li {
    font-family: monospace;
    font-weight: 400!important;
    font-size: 1rem;
    font-style: normal;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.recipe-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;

    margin: 2rem 0;

    /* max-height: 80vh;
    overflow: hidden; */

}

.recipe-details-img {

    grid-column-start: 1;
    grid-column-end: 4;
}

.recipe-details-img img {

}

.recipe-details-desc {

}

.recipe-details-desc p {
    font-family: monospace;
    font-weight: 700;
    font-size: 1rem;
    font-style: normal;
    letter-spacing: .5px;
}

.recipe {
    display: flex;
    flex-direction: row;

    padding: 2rem 0;

    border-top: 1px solid black;
}

.recipe-ingredients {


    width: 30%;

}

.ingredients-title {

}

.ingredients-title h4, .method-title h4 {
    font-family: 'anton' ,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
}

.ingredients-list {
    padding: 1rem 0;

}

.ingredients-list li, .method-list li {
    font-family: monospace;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.5rem;
}


.recipe-method {
    width: 70%;
}

.method-title {

}

.method-list {
    padding: 1rem 0;
}


/* END Recipe */


/* Footer */
.footer {
    width: 100%;
    height: 6vh;
    background-color: black;


}

.footer-container {
    max-width: 1200px;
    margin: auto;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-content: center;
}

.footer-container p {
    font-family: monospace;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: white;
    align-items: center;
}

.foot-left {
    width: 50%;

    display: flex;
    align-items: center;



}

.foot-left a {
    text-decoration: none;
    color: white;
}

.foot-left a:hover {
    text-decoration: underline;
}

.foot-left a:visited {
    color: white;
}

.foot-right {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}




/* END Footer */