/* Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    line-height: 1.5;
    background-color: #262929;
  }

  img {
    max-width: 100%;
    display: block;
  }

/* Remove styles from lists with a class */
ul[class],
ol[class],
li[class]
{
  list-style: none;
}
/* TESTING */
.border {
  border: solid red 1px;
}

/* Container wraps entire page */
.container {
    max-width: 1200px;
    margin: auto;
}